<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Add
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">thriller</li>
      <li class="content__container__list__item">Sci-fi</li>
      <li class="content__container__list__item">comedy</li>
      <li class="content__container__list__item">horror</li>
      <!-- <li class="content__container__list__item">action</li> -->
      <!-- <li class="content__container__list__item">animation</li> -->
      <li class="content__container__list__item">fantasy</li>
      <li class="content__container__list__item">adventure</li>
      <li class="content__container__list__item">superhero</li>
      <li class="content__container__list__item">mystery</li>
    </ul>
  </div>
</div>