

  mat-drawer {
      background-color: black;
      width: 30%;
      position: fixed;
      
  }

  mat-drawer-content {
    overflow: hidden;
    background-color: #3aafa9;
  }
  
  

  .burger-button {
      float: right;
      margin-right: 20px;
      margin-top: 0px;
      width: 30px;
      height: 30px;
  }

  .home {
    color: #ffffff;
    font-size: 20px;
  	margin: 0;
    text-shadow: #ffffff 0.3px 0.3px, #ffffff -0.3px 0.3px, #ffffff -0.3px -0.3px, #ffffff 0.3px -0.3px;
    letter-spacing: 0,001rem;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    line-height: 14px;
    margin-left: 20px;
    float: left;
  }

  button {
    float: right;
    border-radius: 25px;
    border: 1px solid #fff;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    margin-top: 3px;
    margin-right: 20px;
    transition: all .3s ease;
    background-color: black;
    color: #ffffff;
    width:130px;
    height: 25px;
  }

main {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.logout, .addlibrary, .profil, .libraries-list {
  color: #ffffff;
  font-size: 20px;
  
  text-shadow: #ffffff 0.3px 0.3px, #ffffff -0.3px 0.3px, #ffffff -0.3px -0.3px, #ffffff 0.3px -0.3px;
  
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
 
  
}



.roundedImage{
  overflow:hidden;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
  border-radius:150px;
  width:200px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
  
}

li:last-child {
  border-bottom: none;
}

li a {
  display: block;
  color:white;
  padding: 8px 16px;
  text-decoration: none;
  
}

/* Change the link color on hover */
li a:hover {
  background-color: #3AAFA9;
  color: white;
  
  
  
}

main {
  display: inline;
}
