<link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
<header>
  
  <mat-drawer-container class="example-container">
    <mat-drawer #sideNav mode="side" opened="false" [position]="nav_position">
      <div *ngIf="isUser || isAdmin">
      <img class="roundedImage" src="{{user?.profilePicture}}">
  <ul>
      <li><a class="addlibrary"
             routerLink="add-library">Add Library</a></li>
      
    <li><a class="logout"
      
      (click)="logOut()">logOut</a></li>
      </ul>
      </div>
    
    </mat-drawer>
    <mat-drawer-content>
      <div class=home routerLink="">BRD<br>LIBRARY</div>
      <img src="./assets/burgerButton.png"(click)="sideNav.toggle()" class="burger-button">
      <button 
        type="submit"
        routerLink="add-user">Signup</button>
      <button
        type="button"
        routerLink="login">LogIn</button>
        <button *ngIf="isUser || isAdmin"
        type="button"
        routerLink="movie-list">Movie List</button>
        
    </mat-drawer-content>
  </mat-drawer-container>
  
</header>

  
<main>
  <router-outlet></router-outlet>
</main>

